In [24]:
# importing the libraries
import numpy as np
import pandas as pd


# importing the data
df = pd.read_csv(r"E:\ML\dataset\email.csv")
df.head(30)

   Category                                            Message
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
5      spam  FreeMsg Hey there darling it's been 3 week's n...
6       ham  Even my brother is not like to speak with me. ...
7       ham  As per your request 'Melle Melle (Oru Minnamin...
8      spam  WINNER!! As a valued network customer you have...
9      spam  Had your mobile 11 months or more? U R entitle...
10      ham  I'm gonna be home soon and i don't want to tal...
11     spam  SIX chances to win CASH! From 100 to 20,000 po...
12     spam  URGENT! You have won a 1 week FREE membership ...
13      ham  I've been searching for the right words to tha...
14      ham                I HAVE A DATE ON SUNDAY WITH WILL!!
15     spam  XXXMobileMovieClub: To use your credit, click ...
16      ham                         Oh k...i'm watching here:)
17      ham  Eh u remember how 2 spell his name... Yes i di...
18      ham  Fine if thats the way u feel. Thats the way ...
19     spam  England v Macedonia - dont miss the goals/team...
20      ham          Is that seriously how you spell his name?
21      ham    I‘m going to try for 2 months ha ha only joking
22      ham  So ü pay first lar... Then when is da stock co...
23      ham  Aft i finish my lunch then i go str down lor. ...
24      ham  Ffffffffff. Alright no way I can meet up with ...
25      ham  Just forced myself to eat a slice. I'm really ...
26      ham                     Lol your always so convincing.
27      ham  Did you catch the bus ? Are you frying an egg ...
28      ham  I'm back &amp; we're packing the car now, I'll...
29      ham  Ahhh. Work. I vaguely remember that! What does...

In [25]:
print(df.shape)

(5573, 2)

In [26]:
print(df.columns)

Index(['Category', 'Message'], dtype='object')

In [27]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5573 entries, 0 to 5572
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5573 non-null   object
 1   Message   5573 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB
None

In [28]:
df.describe()

       Category                 Message
count      5573                    5573
unique        3                    5158
top         ham  Sorry, I'll call later
freq       4825                      30

In [29]:
# Finding the unique values of Category Column
df['Category'].unique()

array(['ham', 'spam', '{"mode":"full"'], dtype=object)

In [30]:
# Couting the values of Category column
df['Category'].value_counts()

ham               4825
spam               747
{"mode":"full"       1
Name: Category, dtype: int64

In [31]:
# checking for any null column
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [32]:
# creating new column by the name of Spam with 0/1 values to distinguish between spam and ham
df['Spam']=df['Category'].apply(lambda x:1 if x=='spam' else 0)
df.head(5)

  Category                                            Message  Spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [33]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import validation_curve
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
# splitting data in test and train
X_train,X_test,y_train,y_test=train_test_split(df.Message,df.Spam,test_size=0.25)

In [35]:
print(y_train.mean())
print(y_test.mean())

0.1323283082077052
0.13916786226685796

In [36]:
# CounterVectorizer Convert the text into matrics
from sklearn.feature_extraction.text import CountVectorizer

In [37]:
# creating pipeline for data transformation and prediction using Support Vector Machines
from sklearn.pipeline import Pipeline
clf=Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',SVC())
])

In [38]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', SVC())])

In [40]:
y_pred=clf.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [41]:
# Evaluate the model using confusion matrix 
from sklearn import metrics
metrics.confusion_matrix(y_true=y_test, y_pred=y_pred)

array([[1199,    1],
       [  24,  170]], dtype=int64)

In [42]:
# print other metrics

# accuracy
print("accuracy", metrics.accuracy_score(y_test, y_pred))

# precision
print("precision", metrics.precision_score(y_test, y_pred))

# recall/sensitivity
print("recall", metrics.recall_score(y_test, y_pred))

accuracy 0.9820659971305595
precision 0.9941520467836257
recall 0.8762886597938144

In [43]:
# specificity (% of hams correctly classified)
print("specificity", 811/(811+38))

specificity 0.9552414605418139

In [53]:
# creating a KFold object with 5 splits 
folds = KFold(n_splits = 2, shuffle = True, random_state = 4)

# instantiating a model 
model = clf

In [54]:
# computing the cross-validation scores 
# note that the argument cv takes the 'folds' object, and
# we have specified 'accuracy' as the metric

cv_results = cross_val_score(model, X_train, y_train, cv = folds, scoring = 'accuracy')

In [55]:
# print 5 accuracies obtained from the 5 folds
print(cv_results)
print("mean accuracy = {}".format(cv_results.mean()))

[0.97177033 0.97127812]
mean accuracy = 0.9715242292161492